@charset "utf-8";
/* CSS Document */
@import url("Grid_system.css");
@import url("all.css");
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fleur+De+Leah&display=swap');

/*.f-bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
}*/
.f-fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;	font-size: 1.5rem

}
.font-kyten
{
	font-family: chuky;
}
body
{
	background-color:#E1E1E1;
	color: #2F2E2E;
	font-family: "Bricolage Grotesque",Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin: 0
	
}
h1,h2,h3,h4,.menu
{
	
	display: block;
	color: #333
}
.font-ma{font-family: 'Scary Halloween Font'}
.menu ul
{
	margin: 0;
	padding: 0; 
	list-style: none
}
.menu ul li
{
	display: inline-block ;/* day cac list len canh nhau chung 1 hang*/
	position: relative/* cho dien tich con dung dien tich cua minh de dinh vi tri*/
}
.menu ul li a
{
	background-color:#FFCE00;
	background-image: linear-gradient(15deg,#FFCE00,#cccc00);
	padding: 8px 16px;
	color:black;display: block;
	text-decoration:none /*bo gach chan underline*/
}
.menu ul li a:hover{
	background-color: #FFE500
}
.menu ul ul
{
	position: absolute;
	left: 0; top: 100%;
	background-color:#FFCE00;
	width: 200px;
	display: none
}
.menu ul ul li
{
	display: block;
	border-bottom: 1px solid #391919
	
}

.menu ul li:hover> ul
{
	display: block
}
.menu
{ 
	/*border-bottom: thin solid;*/
	display: flex;
	justify-content: space-between
}

h1
{font-size: 2.5rem;
background: #121FCF;
background: -webkit-linear-gradient(left, #121FCF 0%, #CF1512 100%);
background: -o-linear-gradient(left, #121FCF 0%, #CF1512 100%);
background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2{font-size: 2rem}
h3{font-size: 1.5rem}
h4{font-size: 1rem}
h1,h2,h3
{ font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}
.card
{
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 8px;
	padding: 16px
}
.card-img
{border-radius: 4px 4px 0 0}

.card-body
{padding: 16px}
.input-form
{padding: 10px;
width: 100%;
margin-top: 10px;
margin-bottom: 10px;
/*border: 1px solid#ccc;*/
border-radius: 5px;
font-size: 16px}
#form-dangky label{ font-weight: bold; margin: 5px 0}
.btn-primary{ background:#7E1617; padding: 10px 20px; font-size: 20px; border-radius: 10px; border: 1px solid #006996; color: #fff}
.btn-primary:hover{ background-image: radial-gradient(tomato, #550)  ;  
    color: #fff;}
.w-50 { width: 50%;  padding: 15px;height: 80%; border-radius: 8px 8px 0 0;}
.mx-auto{ margin-left: auto; margin-right: auto}









